* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(10, 10, 12);
}

#header {
  background: white;
}

.navbar-text a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  padding: 0 30px;
}

.navbar-btn button {
  padding: 10px 25px;
  background: transparent;
  color: black;
  font-weight: 400;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}

.navbar-btn button:hover {
  transition: .4s;
  transform: scale(1.1);
  border: 1px solid red;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.navbar-text {
  display: flex;
  align-items: center;
}

.hero-title h1 {
  font-weight: 400;
  font-size: 50px;
  text-align: center;
  color: #FFFFFF;
  padding: 20px 0;
}

.hero-title p {
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
}

.hero-title-block button {
  background: #FF4343;
  border-radius: 8px;
  padding: 15px 30px;
  font-weight: 400;
  font-size: 23px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  margin: 20px;
}

.hero-title-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img {

}

.img-one {
  position: absolute;
  top: 400px;
  left: 778px;
}

.hero--block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}


.shoot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.lessons h1 {
  font-weight: 400;
  font-size: 58px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.lessons p {
  width: 400px;
  font-weight: 400;
  font-size: 26px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.5);
}

.shoot-img-two {
  position: relative;
  /*top: 0;*/
  /*left: 0 ;*/

}

.shoot-img-one {
  position: absolute;
  left: 550px;
  top: 1015px;
}

.swiper-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enrich {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-color: rgb(206, 17, 17);
}

.swiper-slide:nth-child(2n) {
  background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.red {
  color: red;

}
